@import "./katex.css";

/*
 * highlight.js
 */

/*! XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com> */
@import "../node_modules/highlight.js/styles/xcode.css";

/*!
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
@import "../node_modules/highlight.js/styles/vs2015.css"
  (prefers-color-scheme: dark);

/*
 * 全体
 */

:root {
  /* 参考: https://www.schemecolor.com/calming-shores.php */
  --ab-background: white;
  --ab-text: #333333;
  --ab-link: #576ea3;
  --ab-note: #f2f2f2;
  --ab-accent: #3d9098;
  --ab-border: #e1e1e1;
  --ab-important: #d14;
  --ab-caution: rgb(194, 83, 18);
  --ab-warning: rgb(207, 195, 17);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ab-background: #041c32;
    --ab-text: #f5f2e7;
    --ab-link: #a1e0e5;
    --ab-note: #2c4153;
    --ab-accent: #3d9098;
    --ab-border: #72757e;
  }
}

body {
  margin: 0;
  background-color: var(--ab-background);
  color: var(--ab-text);
  line-height: 1.62;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1120px;
}

article header {
  margin-bottom: 1.5em;
}

hr,
.article-list-item,
footer {
  border: 0;
  border-top: 1pt solid var(--ab-border);
}

footer,
.error-heading {
  text-align: center;
}

footer nav {
  margin: 1em 0;
}

footer nav ul {
  padding: 0;
}

footer nav li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1pt solid var(--ab-border);
}

footer nav ul :last-child {
  border-right-style: none;
}

.article-tags {
  display: inline;
  margin: 0;
  padding: 0;
}

.article-tags > li {
  display: inline;
}

.article-tags > li::before {
  content: " / ";
}

.article-tags > li:first-child::before {
  content: " ";
}

/*
 * インライン
 */

a {
  color: var(--ab-link);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.article-content a {
  text-decoration: underline;
}

cite {
  font-style: normal;
}

code,
kbd,
samp {
  font-family: "Consolas", monospace;
  font-size: 0.92em;
  background-color: var(--ab-note);
  padding: 0.1em 0.25em;
  border-radius: 0.25rem;
}

/*
 * 記事内のブロック
 */

p {
  margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  color: var(--ab-accent);
  font-family: sans-serif;
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: var(--ab-accent);
  font-family: "Arial";
  padding-right: 0.5em;
}

h2:not(figure *):not(.note *)::before {
  content: "##";
}

h3:not(figure *):not(.note *)::before {
  content: "###";
}

h4:not(figure *):not(.note *)::before {
  content: "####";
}

h5:not(figure *):not(.note *)::before {
  content: "#####";
}

h6:not(figure *):not(.note *)::before {
  content: "######";
}

pre {
  margin: 1.5em 0;
  background-color: var(--ab-note);
  border-left: 0.3em solid var(--ab-accent);
  padding: 0.5em 1em;
  overflow-x: auto;
  line-height: 1.6;
}

/*
 * 囲み
 */

.note {
  margin: 1.5em 1em;
  background-color: var(--ab-note);
}

.note-heading {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  background-color: var(--ab-accent);
  color: #fffffe;
  margin: 0;
  padding: 0.25em 1em;
}

.note-content {
  padding: 1em;
}

.note-content > *:first-child {
  margin-top: 0;
}

.note-content > *:last-child {
  margin-bottom: 0;
}

.note-important {
  --ab-accent: var(--ab-important);
}

.note-caution {
  --ab-accent: var(--ab-caution);
}

.note-warning {
  --ab-accent: var(--ab-warning);
}

.ins-block {
  display: block;
  text-decoration: none;
}

/*
 * figure
 */

figure,
.math-display {
  margin: 1.5em 0;
}

figcaption {
  font-weight: 500;
}

figure.fig-code > figcaption,
figure.fig-img,
figure.fig-table > figcaption,
figure.fig-tweet > figcaption {
  text-align: center;
}

figure.fig-code > pre {
  margin: 0;
}

figure.fig-img > img {
  max-width: 100%;
  height: auto;
}

figure.fig-quote {
  display: grid;
  grid-template-areas:
    "symbol content"
    "symbol caption";
  grid-template-columns: auto 1fr;
  padding-right: 1em;
  background-color: var(--ab-note);
  border-left: 0.3em solid var(--ab-accent);
}

figure.fig-quote::before {
  /* biome-ignore lint/a11y/useGenericFontNames: アイコンを表示するため */
  font: normal normal normal 1.75rem / 1 ForkAwesome;
  content: "\f10d";
  color: var(--ab-accent);
  padding: 0.5em;
  display: block;
  grid-area: symbol;
}

figure.fig-quote > blockquote {
  grid-area: content;
  margin: 0;
  padding: 1.5em 0;
  overflow-x: hidden;
}

figure.fig-quote > blockquote > *:first-child {
  margin-top: 0;
}

figure.fig-quote > blockquote > *:last-child {
  margin-bottom: 0;
}

/* figcaption に引用元が書かれる */
figure.fig-quote > figcaption {
  grid-area: caption;
  text-align: initial;
  margin: 0 0 1.5em 0;
}

figure.fig-quote > figcaption::before {
  content: " — ";
  font-weight: normal;
}

figure.fig-tweet .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

/*
 * table
 */

table {
  margin: 0 auto;
  border-spacing: 0;
}

td,
th {
  margin: 0;
  padding: 1em 1.5em;
  border-bottom: 1pt solid var(--ab-border);
}

thead td,
thead th {
  border-bottom-width: 1.5pt;
}

/* table に max-width を設定しても効果がないので、 div で囲んでなんとかする */
.table-wrapper {
  margin: 0 -1.5rem;
  width: calc(100% + 3rem);
  overflow-x: auto;
}
