/* 改行を許可 */
/* https://katex.org/docs/issues.html */
.katex-display > .katex {
  white-space: normal !important;
}

/* equation のレスポンシブ化 */
.katex-display > .katex > .katex-html:has(> .tag) {
  display: flex !important;
  width: 100%;
}

.katex-display > .katex > .katex-html:has(> .tag) > .base {
  display: block !important;
  flex: 1;
  overflow: auto hidden;
}

.katex-display > .katex > .katex-html > .tag {
  position: static !important;
  margin-left: 1rem;
}
